.root{
    -fx-background-color: #e0876a;
}

.scroll-pane{
    -fx-border-color: black;
    -fx-background: #e0876a;
    -fx-control-inner-background: #e0876a;
}

.button{
    -fx-border-color: black;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-background-color: #e0876a;
    -fx-text-fill: whitesmoke;
}

.progress-bar{
    -fx-control-inner-background: #e0876a;
    -fx-border-color: #e0876a;
    -fx-accent: gray;
}

/*CheckBox*/
.check-box .box{
    -fx-background-color: linear-gradient(#e0876a, #f4a688);
    -fx-border-color: black;
}

.check-box:selected .box{
    -fx-background-color: linear-gradient(#f4a688, #f9ccac);
    -fx-border-color: black;
}

.check-box:selected .mark{
    -fx-background-color: linear-gradient(#f4a688, #f9ccac);
    -fx-border-color: black;
}

/*Menu-Bar*/
.menu-bar{
    -fx-background-color: #f4a688;
    -fx-background-radius: 0 0 5 5;
    -fx-border-color: black;
    -fx-border-radius: 0 0 5 5;
}

/*Menu*/
.menu{
    -fx-background-color: #f4a688;
}

.menu .label{
    -fx-text-fill: black;
}

.menu:hover{
    -fx-background-color: transparent;
    -fx-underline: true;
}

.menu:hover .label{
    -fx-text-fill: #f9ccac;
}

.menu:focus{
    -fx-background-color: transparent;
    -fx-underline: true;
}

.menu:focus .label{
    -fx-text-fill: #f9ccac;
}

/*Menu-Item*/
.context-menu{
    -fx-background-color: #f9ccac;
    -fx-background-radius: 0 0 5 5;
    -fx-border-radius: 0 0 5 5;
}

.context-menu .menu-item{
    -fx-background-color: #f9ccac;
}

.context-menu .menu-item .label{
    -fx-text-fill: black;
}

.context-menu .menu-item:hover{
    -fx-background-color: #f9ccac;
}

.context-menu .menu-item:hover .label{
    -fx-text-fill: #f4a688;
    -fx-underline: true;
}

.context-menu .menu-item:focus{
    -fx-background-color: #f9ccac;
}

.context-menu .menu-item:focus .label{
    -fx-text-fill: #f4a688;
    -fx-underline: true;
}